<div class="container">
  <ng-container *ngIf="email !== null; else empty_state">
    <mat-card>
      <mat-card-actions align="end">
        <ng-container *ngIf="email.attachments.length">
          <button mat-raised-button>Download Attachments</button>
        </ng-container>
        <button
          (click)="toggleProcessed(!email.processed)"
          [color]="email.processed ? 'primary' : 'accent'"
          mat-raised-button>
          Mark as {{ email.processed ? 'unprocessed' : 'processed' }}
        </button>
        <button (click)="remove()" color="warn" mat-raised-button>
          Remove
        </button>
      </mat-card-actions>
      <mat-card-content>
        <mat-card-title>{{ email.subject || '(No Subject)' }}</mat-card-title>
        <mat-card-subtitle>
          <ng-container *ngIf="email.from.length">
            <app-address-group
              name="From"
              [list]="email.from"></app-address-group>
          </ng-container>
          <ng-container *ngIf="email.to.length">
            <app-address-group name="To" [list]="email.to"></app-address-group>
          </ng-container>
          <ng-container *ngIf="email.cc.length">
            <app-address-group name="CC" [list]="email.cc"></app-address-group>
          </ng-container>
        </mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <div [innerHtml]="email.content" class="content"></div>
      </mat-card-content>
      <ng-container *ngIf="email.attachments.length > 0">
        <mat-divider inset></mat-divider>
        <mat-card-actions class="attachments">
          <h2>Attachments</h2>
          <ng-container *ngFor="let attachment of email.attachments">
            <app-attachment
              [name]="attachment.filename"
              [contentType]="attachment.contentType"></app-attachment>
          </ng-container>
        </mat-card-actions>
      </ng-container>
    </mat-card>
  </ng-container>

  <ng-template #empty_state>
    <p>No email selected</p>
  </ng-template>
</div>
