<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item
        (click)="select(item, i)"
        *ngFor="let item of items; let i = index"
        [class.selected]="selectedIndex === i"
        class="list-item"
        role="listitem"
        [tabindex]="i"
        [appSelectOnFocus]="item.id === selectedItem?.messageId">
        <app-list-item [item]="item" [index]="i"></app-list-item>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="!loading; else itemSpinner">
      <app-email-view
        [email]="selectedItem"
        (emailRemoved)="handleRemove()"
        (processedFlagChanged)="
          handleProcessedFlagChange($event)
        "></app-email-view>
    </ng-container>
    <ng-template #itemSpinner>
      <div class="loading">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
