html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre {
  white-space: pre-wrap;
}

img {
  width: 100%;
}

.mat-list-base {
  .mat-list-item.list-item {
    .mat-list-item-content {
      padding: 0;
    }
  }
}
